.button { 
        width: 200px;
        height: 70px;
        background-color: #0EA3BC;
        color: #fff;
        border-radius: 8px;

        font-family: 'Roboto';
        font-weight: 400;
        font-size: 24px;
    }


